# Node.js
**/node_modules/
**/.next/
frontend/out/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.ipynb_checkpoints/
backend/env/
backend/venv/

# Database files
backend/*.db
backend/*.sqlite3

# Local environment configs
.env*
.local
*.log

# Editor configs
.vscode/
.idea/
.DS_Store
